[Unit]
Description=AMD iGPU Governor

[Service]
StandardOutput=null
StandardError=journal
ExecStart=/home/haydengray/Customization/dotfiles/g14_power_config/gpu_governor.sh

[Install]
WantedBy=multi-user.target
